<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form Method="POST" action="/documentupload" enctype="multipart/form-data">
        <label>Document Name</label>
        <input type="text" name="DocumentName"><br>

        <label>Source</label>
        <input type="text" name="Source"><br>

        <label>StreamCourse</label>
        <input type="text" name="StreamCourse"><br>

        <label>Subject</label>
        <input type="text" name="Subject"><br>

        <label>Year</label>
        <input type="Number" name="Year"><br>

        <label>Semester</label>
        <input type="Number" name="Semester"><br>

        <label>Upload Document</label>
        <input type="file" name="UploadDocument"><br>

        <button type="submit" name="Upload">Upload</button>
    </form>
</body>
</html>