<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>notespossible</title>
  <link href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css" rel="stylesheet">
  
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <link rel="stylesheet" href="LoginSignUp.css">
</head>


<body>
    <!-- <div style="height:150px; background-color: aquamarine;">
    </div> 

    <div style="height:150px; background-color: red;">
    </div>
    
     <div style="height:150px; background-color: yellow;">
    </div>
    
    <div style="height:150px; background-color: violet;">
    </div>
    
    <div style="height:150px; background-color: blue;">
    </div>
     -->
    
    
    
    <div class="row d-flex justify-content-around m-0">     
      <div class="col-12 col-md-5 mt-5 SignUp-Box">
        <h1 class="Form-Heading">SignUp</h1>
      </div>
      <div class="col-12 col-md-5 mt-5 Login-Box">
        <h1 class="Form-Heading">Login</h1>
      </div>
    </div>

    <!-- <img class="img-fluid Waves" id="wave-lower" src="login_signup lower wave.svg"> -->
    <img class="img-fluid Waves" id="wave-upper" src="login_signup upper wave.svg">


    

</body>

</html>