<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>notespossible</title>
  <link href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static',filename='Css/Subscription.css') }}">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
  <div class="TopBar">
    <img src="{{ url_for('static',filename='Images/Hamberger menu.svg') }}" class="TopBarImages" id="hambergermenuimg" alt="">
    <a href="/">
    <img src="{{ url_for('static',filename='Images/Logo.svg') }}" class="TopBarImages" id="logoimg" alt="">
    </a>
    <form action="#" id="SearchBar">
      <input type="text" placeholder="Search..." id="SearchBarfield">
      <button type="submit" class="d-flex justify-content-center" id="searchbutton">
        <img src="{{ url_for('static',filename='Images/find icon.svg') }}" alt="" id="searchbuttonimage">
      </button>
    </form>
    
    <img class="TopBarImages" id="avtarimg" src="{{session['profilepicture']}}">
    
  </div>
  <div class="SideBar">
    <div class="parentbox p-0 ">
      <div class="container d-flex justify-content-center mt-5">
        <a href="/">
        <img src="{{ url_for('static',filename='Images/home_icon.svg') }}" class="sidebarimg" alt="">
        </a>
      </div>
      <div class="container d-flex justify-content-center mt-5">
        <img src="{{ url_for('static',filename='Images/subscription_icon.svg') }}" class="sidebarimg" alt="">
      </div>
    </div>
  </div>

  <div class="row card-display d-flex justify-content-center p-4">

    {% for item in user %}
    {% if item.Id != session['id'] %}
    <div class="info-card d-flex justify-content-center mx-4 my-4">
      <img src="{{ item.ProfilePicture }}" alt="" class="MentorImage">
      <div>
        <span class="MentorName"> {{ item.Name }} </span><br>
        <span class="FollowerHeading"> Follower </span>
        <span class="TotalFollower"> 2021 </span><br><br>
        <a href="/profile/{{ item.SNo }}"><button class=" ViewProfileButton">View Profile</button></a>
      </div>
    </div>
    {% endif %}
    {% endfor %}

  </div>


  <!-- 
    <div style="background-color: blanchedalmond; height: 300px; width: 100vw;">
    </div>
    <div style="background-color: teal; height: 300px; width: 100vw;">
    </div>
    <div style="background-color: royalblue; height: 300px; width: 100vw;">
    </div>
    <div style="background-color: palevioletred; height: 300px; width: 100vw;">
    </div>
    <div style="background-color: green; height: 300px; width: 100vw;">
    </div> 
    -->

  <script type="text/javascript" src="{{ url_for('static',filename='Js/Home.js') }}"></script>

</body>

</html>